<!DOCTYPE html>
<body>
    <h1>Reset Password</h1>
    <form action="/api/user/reset-password/:id/:token" method="post">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required><br>

        <button type="submit">Reset Password</button>
    </form>
</body>
</html>